<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961635858269-t4mbdj1urof8ibesrt746i583a96vd40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961635858269-t4mbdj1urof8ibesrt746i583a96vd40</string>
	<key>API_KEY</key>
	<string>AIzaSyCCt8y9exX2alkw1R_sTo7YR1uQ_VoTu3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>961635858269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-833d5</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-833d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961635858269:ios:30a6a6d1162a33f3325ab4</string>
</dict>
</plist>